/**
 *
 * @author      ThatMuch
 * @version     0.1.0
 * @since       mars_1.0.0.0
 *
 */
img {
    border-radius: 3px !important;

    &.shadow {
        box-shadow: $shadow;
    }
}

.block__image--bordered {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto 50px;
    border-radius: 3px;

    .img-box {
        box-shadow: $shadow;
        background: $color-light;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        overflow: hidden;
        border-radius: 3px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition-duration: $transition_slow;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    .bordered {
        border: 1px solid $color-grey2;
        border-radius: 3px;
        position: absolute;
        z-index: -1;
        top: 24px;
        left: -24px;
        width: 100%;
        height: 100%;
        transition-duration: $transition_slow;
    }

    &:hover {
        .bordered {
            top: 35px;
            left: -35px;
        }
    }
}
