.section-header {
    background-color: #fff;
    position: relative;
    height: $size-header;
    display: flex;
    align-items: center;

    .section-background-image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-size: cover;
    }

    .section__lead {
        animation-delay: .2s;
        color: #fff;
        font-size: 42px;
        line-height:45px;
        letter-spacing: 1px;
        margin-bottom: 50px;
    }
}
